/* Reset básico */
* {
    margin: 10;
    padding: 10;
}

body {
    background-image: url('DALL-E-2024-08-31background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

/* Navbar Início------------------------------------------*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0004ff;
    color: #ffffff;
    padding: 10px 20px;
    z-index: 1000;

}

.navbar .container {
    font-family:Verdana, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .brand {
    text-align:center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    
}

.navbar-links {
    list-style: none;
    display: flex;
}


.navbar-links a {
    text-align:center;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-links a:hover {
    text-align:center;
    text-decoration: underline;
}

.mobile-menu {
    display: none;
    background-color: #fff;
    color: #000;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Arredonda as bordas do botão */
  }

  .navbar-links.active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #0004ff;
    padding: 10px;
    text-align: center; /* Centraliza os links */
  }
  
  .navbar-links.active li {
    margin-left: 0;
  }
  
  .navbar-links.active a {
    color: #ffffff;
    display: block; /* Exibe cada link em uma nova linha */
    padding: 10px;
  }
/* Navbar Fim---------------------------------------------*/
  
/* Header Início------------------------------------------*/
.header {
	border: 2px solid;
    text-align: center;
    background-color: #ffffff; /* Fundo do header cobrindo toda a largura */
    margin-top: 80px;
}

.header h2 {
    margin-bottom: 10px;
    color: #0004ff;
}

.header p {
    margin-left: 50px;
    font-size: 1.2rem;
    text-align: justify;
}
/* Header Fim------------------------------------------*/

/* Conteúdo Início--------------------------------------*/
.content {
    width: 100%;
    padding: 20px;
    text-align: justify;
    padding: 20px 0; /* Espaçamento vertical */
}

.content section {
	border: 2px solid;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.content section h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #0004ff;
}


.content section p {
    margin-left: 50px;
    margin-right: 50px;

}

.content section ul {
     margin-left: 80px;
    margin-right: 80px;
}

.content section ul {
    margin-left: 100px;
}

/* Conteúdo Fim--------------------------------------*/

/* Footer Início--------------------------------------*/
.footer {
	border: 2px solid;
    background-color: #0004ff;
   /* */
    text-align: center;
    padding: 20px 10px;
}

.footer .container {
color: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin-bottom: 10px;
}

.footer hr {
    border: 0;
    height: 1px;
    background-color: #ffffff;
    margin: 10px 0;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin: 0 10px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
/* Footer Fim--------------------------------------*/
